/* =========================================================================
	=> ANIMATIONS
	========================================================================== */

/*
	@animation: sliding;
	========================================================================== */

@keyframes sliding {
	from {
		transform: translateY(200px);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

/*
	@animation: surfing;
	========================================================================== */

@keyframes surfing-left {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes surfing-right {
	from {
		opacity: 0;
		transform: translateX(200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* =========================================================================
	=> ANIMATION CLASSES
	========================================================================== */

.sliding {
	animation: sliding 1.9s cubic-bezier(.10,0,.30,1);
}

.surfing-left {
	animation: surfing-left 1.7s cubic-bezier(.30,.80,.12,.78);
}

.surfing-right {
	animation: surfing-right 1.7s cubic-bezier(.30,.80,.12,.78);
}