* {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font: 18px 'Mountains of Christmas', sans-serif;
  background: #162a4e;
  overflow: hidden;
}

.center {
  position: relative;
  width: 400px;
  height: 400px;
  margin: -280px auto;
  background: #2980b9;
  border-radius: 50%;
  overflow: hidden;
}

.star {
  position: relative;
  z-index: 10;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: 40px -100px 0 -92px;
}

.star:before,.star:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -12px;
  border-right: 46px solid transparent;
  border-left: 46px solid transparent;
}

.star:before {
  top: 0;
  border-bottom: 90px solid rgba(241, 196, 15,.9);
}

.star:after {
  bottom: 0;
  border-top: 90px solid rgba(241, 196, 15,.9);
}

.pine-tree {
  position: relative;
  left: 50%;
  margin: -70px -210px;
  width: 420px;
  height: 500px;
  overflow: hidden;
}

.part {
  border-bottom: 180px solid #35a66f;
}

.part-small {
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}

.part-small:before,.part-small:after {
  content: "";
  position: absolute;
  z-index: 9;
  top: -140px;
  background: #2980b9;
  border-radius: 50%;
  height: 320px;
}

.part-small:before {
  left: -260px;
  width: 460px;
}

.part-small:after {
  right: -260px;
  width: 460px;
}

.part-medium {
  margin-top: -50px;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
}

.part-big {
  margin-top: -60px;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
}

.xmas {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin: -45%;
  padding: 80px;
  width: 90%;
  height: 90%;
  text-align: center;
  background: rgba(200,200,200,.6);
  border-radius: 50%;
  animation: shower 5s ease-in-out;
  overflow: hidden;
  box-shadow: inset 0 0 12px 16px rgba(160,160,160,.6);
}

.xmas h1 {
  font-size: 3.2em;
  color: #162a4e;
  text-shadow: 2px 2px 4px #555;
  animation: flasher 2s ease-in 4s infinite;
}

.xmas h2 {
  font-size: 1.2em;
  color: #EEE;
}

.xmas a {
  text-decoration: none;
  color: #287;
}

@keyframes "shower" {
 0% {
    margin-left: -160%;
 }
 100% {
    margin-left: -45%;
 }
}

@keyframes "flasher" {
 0% {
    color: #162a4e;
    text-shadow: 2px 2px 4px #555;
 }
 15% {
    color: #555;
    text-shadow: 4px 4px 6px #162a4e;
 }
 30% {
    color: #162a4e;
    text-shadow: 2px 2px 4px #555;
 }
 45% {
    color: #555;
    text-shadow: 4px 4px 6px #162a4e;
 }
 60% {
    color: #162a4e;
    text-shadow: 2px 2px 4px #555;
 }
 75% {
    color: #555;
    text-shadow: 4px 4px 6px #162a4e;
 }
 90% {
    color: #162a4e;
    text-shadow: 2px 2px 4px #555;
 }
 100% {
    color: #555;
    text-shadow: 4px 4px 6px #162a4e;
 }
}